@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-ui: 'Inter', sans-serif;
  --font-display: 'Manrope', sans-serif;
  
  --bg-app: #F3F4F6; 
  
  color-scheme: light;
  background-color: #F3F4F6;
  
  color: #111827; 
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: var(--bg-app);
}

body {
  font-family: var(--font-ui);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-scaler {
  width: 117.647%;
  height: 117.647vh;
  transform: scale(0.85);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}