@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-ui: 'Inter', sans-serif;
  --font-display: 'Manrope', sans-serif;
  
  --bg-app: #030304;
  color-scheme: dark;
  background-color: #000000;
  color: #ededed;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide native scrollbars, let the scaler handle it */
  background-color: var(--bg-app);
}

body {
  font-family: var(--font-ui);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL 85% ZOOM SCALER */
/* 100% / 0.85 = 117.647% dimensions to fill the screen */
.app-scaler {
  width: 117.647%;
  height: 117.647vh;
  transform: scale(0.85);
  transform-origin: top left;
  overflow-y: auto; /* Default scroll for pages like Login/Signup */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}